@charset "UTF-8";

/* telas pequenas */

@media screen and (min-width: 320px) and (max-width: 768px) {

    html, body {
        background-color: #171717;
    }

    .grid-container {
        gap: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white ;
    }

    .grid-container > div {
        display: block;
    }

    
    .grid-item1 {
        order: -2;
    }

    .grid-item1 p {
        font-family: 'old';
        display: block;
    }
    
   
    .grid-item4 {
        margin-top: 20px;
        order: -1;
    }

    .toggle{

        display: block;
        margin-top: 10px;
        width: 100%;
    }

    #burguer {
        width: 100%;
        display: block;
        background-color: white;
        color: black;
        padding: 8px;
        cursor: pointer;
    }
    
    #burguer:hover {
       background-color:white;
        color: black;
    }

    menu a {
        width: 100%;
        display: block;
        color: white;
        background-color: var(--color-neutral-10);
        text-decoration: none;
        text-align: center;
        border-top: 2px solid var(--color-neutral-30);
        padding: 10px;
        border-radius: 0px;
    }
    
    menu a:hover {
        color: black;
        background-color:var(--color-neutral-30);
    }

   
    .grid-container > div:not(.grid-item5) {
        color: black;
        background-color: white;
       display: block;
        
    }

    .grid-item2 {
        
        width: 100%;
    }

    img.coveralbum {
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.556);
    }

    .grid-item4 p {
        
        width: 100%;
        text-indent: 20px;
        text-align: justify;
    }

    .code {
        display: block;
        margin: 0 auto;
        
    }

    .grid-item5 {
        margin-top: 20px;
        display: block;
        width: 100%;
        padding: 0px;
    }

    ul.footer-list { display: none; }

    #footer_content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        grid-template-columns: repeat(2, 1fr);
        }
 
   #footer_content {

    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
}

#footer_copright {
    background-color: black;
    padding: 4px;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-style: italic;

}

#footer_content {
    background-color: var(--color-neutral-10);
}

#input_group button {
    background-color:#233eff ;
}
    
}